<div class='BODY'>
  <div class="train_model_content">
    <!--培养标题-->
    <div class='BODY_RIGHT_TITLE'>
      <div class='BODY_RIGHT_TITLE_CONTENT1'>联系我们</div>
      <div class='BODY_RIGHT_TITLE_CONTENT2'>当前位置&nbsp;>&nbsp;首页&nbsp;>&nbsp;联系我们</div>
    </div>

    <div style="width:500px;float:left;margin:15px 0 15px 50px;">

      <!--引用百度地图API-->

      <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>

      <!--百度地图容器-->
      <div style="width:600px;height:500px;border:#ccc solid 1px;" id="dituContent"></div>
      <script>
          initMap();//创建和初始化地图
      </script>

    </div>
    <ul style="width:420px;float:left;margin-left:150px;margin-top:15px;">
      <li><b>地址：河北省保定市南市区三丰中路长江商务中心三楼982号</b></li>
      <li>电话：
        <div>
          <p>151-3225-2225（于老师）</p>
          <p>159-3076-1109（王老师）</p>
        </div>
      </li>
    </ul>
    <div style="clear:both;"></div>
  </div>
</div>
<div style="clear:both;"></div>