
<div class='BODY'>
				<div class='BODY_LEFT'>
				<div class='BODY_LEFT_TITLE'>招生就业</div>

				<div class='BODY_LEFT_CONTENT'>
<!--************************************** NET **************************************-->
				<div class='BODY_LEFT_TOOLS'>
							<div class='BODY_LEFT_TOOLS_COLOR1'></div>
							<div class='BODY_LEFT_TOOLS_TEXT'><a href='/main/employ'>招生咨询</a></div>
				</div>
<!-- **************************************JAVA************************************** -->
				<div class='BODY_LEFT_TOOLS'>
							<div class='BODY_LEFT_TOOLS_COLOR2'></div>
							<div class='BODY_LEFT_TOOLS_TEXT'><a href='/main/job'>就业案例</a></div>
				</div>


				</div>
				
				
				<div style="clear:both;"></div>
</div>

<div class='BODY_RIGHT'>
	<div class='BODY_RIGHT_TITLE'>
				<div class='BODY_RIGHT_TITLE_CONTENT1'>就业案例</div>
				<div class='BODY_RIGHT_TITLE_CONTENT2'>当前位置&nbsp;>&nbsp;首页&nbsp;>&nbsp;招生就业&nbsp;>&nbsp;就业案例</div>
	</div>
	<div class='BODY_RIGHT_CONTENT'>
		
	    
	    <table class="job_table2" cellpadding="0" cellspacing="0">
	    	<tr>
	    		<th>姓名</th>
	    		<th>公司名称</th>
	    		<th>入职月薪</th>
	    	</tr>
	    	<tr>
	    		<td>于海松</td>
	    		<td>奇点无限科技有限公司</td>
	    		<td>11000</td>
	    	</tr>
	    	<tr>
	    		<td>孙鹏发</td>
	    		<td>北京光明天下信息服务有限公司</td>
	    		<td>7700</td>
	    	</tr>
	    	<tr>
	    		<td>李媛如</td>
	    		<td>雨泽润众农业发展有限公司</td>
	    		<td>6800</td>
	    	</tr>
	    	<tr>
	    		<td>李丽娟</td>
	    		<td>唯美互联</td>
	    		<td>5000</td>
	    	</tr>
	    	<tr>
	    		<td>张亚飞</td>
	    		<td>中国测绘科学研究院</td>
	    		<td>6500</td>
	    	</tr>
	    	<tr>
	    		<td>叶云</td>
	    		<td>北京学联互动科技有限公司</td>
	    		<td>6080</td>
	    	</tr>
	    	<tr>
	    		<td>宋博</td>
	    		<td>通达信科有限公司</td>
	    		<td>6500</td>
	    	</tr>
	    	<tr>
	    		<td>李晨</td>
	    		<td>中国兵工器集团</td>
	    		<td>6000</td>
	    	</tr>
	    	<tr>
	    		<td>王易超</td>
	    		<td>北京和美康信科技有限公司</td>
	    		<td>6000</td>
	    	</tr>
	    	<tr>
	    		<td>李宁</td>
	    		<td>建新鸿业</td>
	    		<td>5500</td>
	    	</tr>
	    	<tr>
	    		<td>王亚宁</td>
	    		<td>北京学人互动科技有限公司</td>
	    		<td>5500</td>
	    	</tr>
	    	<tr>
	    		<td>桑寄宇</td>
	    		<td>农科电子商务有限公司</td>
	    		<td>5400</td>
	    	</tr>
	    	<tr>
	    		<td>庞旭宁</td>
	    		<td>京东商城</td>
	    		<td>5500</td>
	    	</tr>
	    	<tr>
	    		<td>王丽萍</td>
	    		<td>北京超图软件股份有限公司</td>
	    		<td>5500</td>
	    	</tr>
	    	<tr>
	    		<td>郭晓恬</td>
	    		<td>北京思瑜盛大科技有限公司</td>
	    		<td>5300</td>
	    	</tr>
	    	<tr>
	    		<td>王宏青</td>
	    		<td>天福号食品有限公司</td>
	    		<td>5300</td>
	    	</tr>
	    	<tr>
	    		<td>孙亚龙</td>
	    		<td>奥柯网信软件有限公司</td>
	    		<td>5300</td>
	    	</tr>
	    	<tr>
	    		<td>黄少泽</td>
	    		<td>网富天下（北京）电子商务有限公司</td>
	    		<td>4000</td>
	    	</tr>
	    	<tr>
	    		<td>张杨杨</td>
	    		<td>创奇时代网络公司</td>
	    		<td>4500</td>
	    	</tr>
	    	<tr>
	    		<td>刘鹏</td>
	    		<td>北京康元盛世网络科技发展有限公司</td>
	    		<td>5050</td>
	    	</tr>
	    	<tr>
	    		<td>叶岑泽</td>
	    		<td>创奇时代网络公司</td>
	    		<td>4500</td>
	    	</tr>
	    	<tr>
	    		<td>宋博</td>
	    		<td>北京通达信科科技有限公司</td>
	    		<td>6000</td>
	    	</tr>

	    </table>
	    <div style="clear:both"></div>
	    <ul class="model_show_img2">
	                    	<li><img src="../images/job/1.jpg"/><br />张朋</li>
	                        <li><img src="../images/job/2.jpg"/><br />黄少泽</li>
	    </ul>	
	    <ul class="model_show_img2">
	                    	<li><img src="../images/job/3.jpg"/><br />朱磊</li>
	                        <li><img src="../images/job/4.jpg"/><br />张杨杨(右)</li>
	    </ul>
	    <ul class="model_show_img2">
	                    	<li><img src="../images/job/5.jpg"/><br />张艳杰</li>
	                        <li></li>
	    </ul>		
    </div>	
				
					
				
</div>
</div>				
<div style="clear:both;"></div>

