
<div class='BODY'>
				<div class="train_model_content">
					<!--培养标题-->
				<div class='BODY_RIGHT_TITLE'>
				<div class='BODY_RIGHT_TITLE_CONTENT1'>学员作品</div>
				<div class='BODY_RIGHT_TITLE_CONTENT2'>当前位置&nbsp;>&nbsp;首页&nbsp;>&nbsp;学员作品</div>
				</div>
				<!--培养标题 end-->
				 <div class='BODY_RIGHT_CONTENT'>
				 		<ul class="model_show_img" style="margin-top:20px;">
                    	<li><img src="/images/works/1.jpg"/><br />作者：王丽萍&nbsp;&nbsp;类型：电子商务网站</li>
                        <li><img src="/images/works/2.jpg"/><br />作者：李晨&nbsp;&nbsp;类型：金融网站</li>
                        </ul>
                        <ul class="model_show_img">
                    	<li><img src="/images/works/3.jpg"/><br />作者：叶云&nbsp;&nbsp;类型：模仿微信打飞机</li>
                        <li><img src="/images/works/4.jpg"/><br />作者：孙亚龙&nbsp;&nbsp;类型：电子商务网站</li>
                        </ul>
                        <ul class="model_show_img">
                    	<li><img src="/images/works/5.jpg"/><br />作者：王易超&nbsp;&nbsp;类型：高仿去哪儿网</li>
                        <li><img src="/images/works/6.jpg"/><br />作者：宋博&nbsp;&nbsp;类型：模仿塔防游戏</li>
                        </ul>
                        <div style="clear:both;"></div>
				 </div>
				</div>
</div>
<div style="clear:both;"></div>

