
<div class='BODY'>
				<div class="train_model_content">
					<!--培养标题-->
				<div class='BODY_RIGHT_TITLE'>
				<div class='BODY_RIGHT_TITLE_CONTENT1'>在线学习</div>
				<div class='BODY_RIGHT_TITLE_CONTENT2'>当前位置&nbsp;>&nbsp;首页&nbsp;>&nbsp;在线学习</div>
				</div>
				<div class='BODY_RIGHT_CONTENT'>
					<h1 style="margin-top:15px;color:#f00;">模块正在开发中，敬请期待......</h1>
				</div>
</div>
</div>
<div style="clear:both;"></div>

