
<div class="train_model_content">
<!--培养标题-->
				<div class='BODY_RIGHT_TITLE'>
				<div class='BODY_RIGHT_TITLE_CONTENT1'>培养模式</div>
				<div class='BODY_RIGHT_TITLE_CONTENT2'>当前位置&nbsp;>&nbsp;首页&nbsp;>&nbsp;培养模式</div>
				</div>
<!--培养标题 end-->
<!--培养模式内容-->
                
                <div class='BODY_RIGHT_CONTENT'>
                	<p class="text">
                    <b>"我们这个国家所有的人都应该学习编程，因为他让我们学会了思考"</b><br />1. IT灯塔教育秉承"没有学不会的学生，只有不会教的老师"的信念，只要老师愿意付出，并且因材施教，任何学生都能学会软件开发，只是有的人可能用1个星期入门，有的人需要2个星期入门，只是时间而已，这之间最重要的是耐心。<br />2012批学员高考时的平均成绩在200-300分之间，但是通过IT灯塔"变态式"的学习模式，毕业时的平均月薪4000元。请相信我们，不是所有培训学校都是骗人的！<br />2. 我们具有最严格、最科学、最负责的教务管理体系，从早8：00到晚20：00，任课教师全程授课、辅导，保证每个学员的学习质量。老师都陪你到这个时候，你还有什么理由不学习？
有学生说："除了睡觉、上厕所之外，IT灯塔的老师如影随形"。只有这样，我们才能保证在短短5个月的时间内，让0基础的学员养成"让学习成为一种享受"。<br />3. 我们采用"项目化教学"的理念，理论和实际相结合，每讲一个理论、知识点，必然结合一个综合的项目、案例，学以致用，就像练车一样，你先学会开，再去研究道理。同时，每个阶段我们都会引入企业级项目实战训练，让学员参与真实的企业级项目研发，学员独立设计开发自己的上线项目，学员毕业后至少拥有5个成熟的作品。<br />4. 在IT灯塔，我们不仅是师生关系，我们更是兄弟姐妹，我们除了疯狂的学习，还有疯狂的娱乐，请看我们学生自己的年会、表演吧：
                    </p>
                   	<ul class="model_show_img">
                    	<li><img src="/images/train_model/2.jpg"/></li>
                        <li><img src="images/train_model/4.jpg"/></li>
                    </ul>
                    <ul class="model_show_img">
                    	<li><img src="/images/train_model/1.jpg"/></li>
                        <li><img src="/images/train_model/3.jpg"/></li>
                    </ul>
                </div>
<!--培养模式内容 end--> 
<div style="clear:both;"></div>
</div>               
                
<div style="clear:both;"></div>

