
<div class='BODY'>
<div class='BODY_LEFT'>
    <div class='BODY_LEFT_TITLE'>培训课程</div>

    <div class='BODY_LEFT_CONTENT'>
        <!--************************************** NET **************************************-->
        <div class='BODY_LEFT_TOOLS'>
            <div class='BODY_LEFT_TOOLS_COLOR1'></div>
            <div class='BODY_LEFT_TOOLS_TEXT'><a href='/course/php'>PHP培训</a></div>
        </div>
        <!-- **************************************JAVA************************************** -->
        <div class='BODY_LEFT_TOOLS'>
            <div class='BODY_LEFT_TOOLS_COLOR2'></div>
            <div class='BODY_LEFT_TOOLS_TEXT'><a href='/course/java'>JAVA培训</a></div>
        </div>
        <!-- **************************************移动开发************************************** -->
        <div class='BODY_LEFT_TOOLS'>
            <div class='BODY_LEFT_TOOLS_COLOR4'></div>
            <div class='BODY_LEFT_TOOLS_TEXT'><a href='/course/android'>Android培训</a></div>
        </div>
        <!-- ruby on rails -->
        <div class='BODY_LEFT_TOOLS'>
            <div class='BODY_LEFT_TOOLS_COLOR7'></div>
            <div class='BODY_LEFT_TOOLS_TEXT'><a href='/course/ruby'>Ruby培训</a></div>
        </div>
        <!-- **************************************交互设计************************************** -->
        <div class='BODY_LEFT_TOOLS'>
            <div class='BODY_LEFT_TOOLS_COLOR5'></div>
            <div class='BODY_LEFT_TOOLS_TEXT'><a href='/course/ui'>UI培训</a></div>
        </div>
        <!-- **************************************物联网************************************** -->
        <div class='BODY_LEFT_TOOLS'>
            <div class='BODY_LEFT_TOOLS_COLOR6'></div>
            <div class='BODY_LEFT_TOOLS_TEXT'><a href='/course/html5'>HTML5培训</a></div>
        </div>
        <div class='BODY_LEFT_CSDN_INFO'></div>

    </div>


</div>
				<div class='BODY_RIGHT'>
				<div class='BODY_RIGHT_TITLE'>
				<div class='BODY_RIGHT_TITLE_CONTENT1'>PHP培训</div>
				<div class='BODY_RIGHT_TITLE_CONTENT2'>当前位置&nbsp;>&nbsp;首页&nbsp;>&nbsp;培训课程&nbsp;>&nbsp;PHP培训</div>
				</div>

				<div class='BODY_RIGHT_CONTENT'>
				
                        <table  cellspacing="0" cellpadding="0" class="job_table">
			            <tr>
					          <th width="56" bgcolor="#CC0000"><strong>阶段 </strong></th>
					          <th width="112" bgcolor="#CC0000"><strong>模块 </strong></th>
					          <th width="310" bgcolor="#CC0000"><strong>课程内容</strong></th>
					          <th width="310" bgcolor="#CC0000"><strong>目标</strong></th>
				            </tr>
					        <tr>
					          <td width="56" rowspan="24"><p align="left">&nbsp;</p></td>
					          <td width="112" rowspan="2"><p align="center">WEB前端技术 </p></td>
					          <td width="310"><p align="left">html标签复习、表格、框架 <br />
					            html案例---使用table表格模仿hao123网站 <br />
					            css语法、选择器、css样式汇总 <br />
					            css盒子模型、浮动布局、定位布局、清除浮动 <br />
					            css项目---《好家橱柜》专题网页制作 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">HTML5<br />
					            CSS3<br />
					            Bootstrap前端框架 <br />
					            jQuery Mobile跨平台HTML5框架 <br />
					            PhoneGap 、Sencha Touch 等跨平台技术 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="112" rowspan="3"><p> Web前端综合项目 </p></td>
					          <td width="310"><p align="left">1、电子商务网站制作 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">2、移动端论坛APP</p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">3、手机端导购APP</p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="112" rowspan="18"><p align="center">PHP核心技术 </p></td>
					          <td width="310"><p align="left">PHP语法、数据类型、PHP常量 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">流程控制分支语句、PHP简易计算器 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">PHP中的循环语句、函数的声明以及使用 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">数组的声明、遍历、超全局数组 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">面向对象、类的声明与实例化、构造方法和析构方法 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">面向对象三大特性： </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">抽象类和抽象方法、 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">接口和面向对象多态的应用、 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">PHP内置字符串处理函数、 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">PHP文件处理、文件上传、文件下载 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">封装封建上传处理类 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">PHP错误处理方式、异常处理机制 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">PHP日期和时间管理、日历项目 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">PHP图像画图、验证码类、图像处理类 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">JpGraph的安装和配置 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">JpGraph实际应用—数据报表 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">session、cookie的基本使用、购物车 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">Session入库、将session保存到memcache</p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="112"><p align="center">PHP综合项目 </p></td>
					          <td width="310"><p align="left">商品管理系统开发 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="56"><p align="left">&nbsp;</p></td>
					          <td width="112"><p align="center">MySQL数据库 </p></td>
					          <td width="310"><p align="left">MySQL的服务的原理、 <br />
					            MySQL的基本增删改查、 <br />
					            数据库服务器、数据库和表的三层结构、 <br />
					            MySQL常用的内置函数 <br />
					            时间日期函数、字符串函数、数学函数、其他函数 <br />
					            union连接查询、子查询、完成不及格学生的统计 <br />
					            子查询、左右连接查询获得商品数量 <br />
					            数据库导入、导出 <br />
					            重置数据库密码 </p>
					            <p align="left">事务的使用原理、 <br />
					              触发器、 <br />
					              视图、索引 <br />
					              PHP+MySQL分页类 <br />
					              Mysqli扩展库操作数据库 <br />
					              mysqli扩展执行预处理语句 <br />
					              PDO数据库抽象层 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="56"><p align="left">&nbsp;</p></td>
					          <td width="112"><p align="center">PHP接口开发 </p></td>
					          <td width="310"><p align="left">PHP邮件技术、 <br />
					            PHP操作Excel表 <br />
					            PHP微信开发 <br />
					            PHP支付 <br />
					            QQ互联、新浪微博、百度地图等接口的使用 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="56" rowspan="26"><p align="center">HTML5高级 </p></td>
					          <td width="112" rowspan="17"><p align="center">Linux操作系统 </p></td>
					          <td width="310"><p align="left">VMware虚拟机安装、 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">CentOS 6.5操作系统安装、 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">远程登录工具的使用Putty、Winscp</p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">文件处理命令、开关机命令 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">权限管理命令、帮助命令、文件搜索命令 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">压缩解压命令、命令使用技巧 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">文本编辑器Vim</p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">&nbsp;</p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">软件包管理 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">用户和用户组管理 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">权限管理 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">文件系统管理 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">服务与进程管理 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">基本网络管理 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">网络文件共享、 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">SSH、FTP和Samba 服务器的搭建 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">Nginx服务器搭建与使用 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="112" rowspan="5"><p align="center">ThinkPHP框架 <br />
					            /Yii框架 </p></td>
					          <td width="310"><p align="left">ThinkPHP中的控制器 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">ThinkPHP中的模型 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">ThinkPHP中的视图 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">RBAC权限管理系统 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">ThinkPHP中的路由设置、缓存等 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="112" rowspan="2"><p align="center">综合项目 </p></td>
					          <td width="310"><p align="left">ThinkPHP微博项目 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="310"><p align="left">ThinkPHP洗车预定项目 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="112"><p align="left">    PHPCMS</p></td>
					          <td width="310"><p align="left">视频分享网站开发 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="112"><p align="center">Ecshop商城系统的二次开发 </p></td>
					          <td width="310"><p align="left">独立搭建完整的购物商城<a name="_GoBack" id="_GoBack"></a></p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
					        <tr>
					          <td width="56"><p align="left">面试技巧与就业辅导 </p></td>
					          <td width="112"><p>&nbsp;</p></td>
					          <td width="310"><p align="left">面试技巧与面试题就业辅导 </p></td>
					          <td width="310">&nbsp;</td>
				            </tr>
				          </table>
				
				
				</div>
				</div>
</div>
<div style="clear:both;"></div>

