

<div class='BODY'>
<div class='BODY_LEFT'>
    <div class='BODY_LEFT_TITLE'>培训课程</div>

    <div class='BODY_LEFT_CONTENT'>
        <!--************************************** NET **************************************-->
        <div class='BODY_LEFT_TOOLS'>
            <div class='BODY_LEFT_TOOLS_COLOR1'></div>
            <div class='BODY_LEFT_TOOLS_TEXT'><a href='/course/php'>PHP培训</a></div>
        </div>
        <!-- **************************************JAVA************************************** -->
        <div class='BODY_LEFT_TOOLS'>
            <div class='BODY_LEFT_TOOLS_COLOR2'></div>
            <div class='BODY_LEFT_TOOLS_TEXT'><a href='/course/java'>JAVA培训</a></div>
        </div>
        <!-- **************************************移动开发************************************** -->
        <div class='BODY_LEFT_TOOLS'>
            <div class='BODY_LEFT_TOOLS_COLOR4'></div>
            <div class='BODY_LEFT_TOOLS_TEXT'><a href='/course/android'>Android培训</a></div>
        </div>
        <!-- ruby on rails -->
        <div class='BODY_LEFT_TOOLS'>
            <div class='BODY_LEFT_TOOLS_COLOR7'></div>
            <div class='BODY_LEFT_TOOLS_TEXT'><a href='/course/ruby'>Ruby培训</a></div>
        </div>
        <!-- **************************************交互设计************************************** -->
        <div class='BODY_LEFT_TOOLS'>
            <div class='BODY_LEFT_TOOLS_COLOR5'></div>
            <div class='BODY_LEFT_TOOLS_TEXT'><a href='/course/ui'>UI培训</a></div>
        </div>
        <!-- **************************************物联网************************************** -->
        <div class='BODY_LEFT_TOOLS'>
            <div class='BODY_LEFT_TOOLS_COLOR6'></div>
            <div class='BODY_LEFT_TOOLS_TEXT'><a href='/course/html5'>HTML5培训</a></div>
        </div>
        <div class='BODY_LEFT_CSDN_INFO'></div>

    </div>


</div>
				<div class='BODY_RIGHT'>
				<div class='BODY_RIGHT_TITLE'>
				<div class='BODY_RIGHT_TITLE_CONTENT1'>HTML5培训</div>
				<div class='BODY_RIGHT_TITLE_CONTENT2'>当前位置&nbsp;>&nbsp;首页&nbsp;>&nbsp;培训课程&nbsp;>&nbsp;HTML5培训</div>
				</div>

				<div class='BODY_RIGHT_CONTENT'>
				  <table cellspacing="0" cellpadding="0" class="job_table">
				    <tr>
				      <th><p align="center"><strong>阶段 </strong></p></th>
				      <th><p align="center"><strong>模块 </strong></p></th>
				      <th><p align="center"><strong>课程内容</strong></p></th>
				      <th><p align="center"><strong>目标 </strong></p></th>
			        </tr>
				    <tr>
				      <td width="56" rowspan="18"><p align="left">&nbsp;</p></td>
				      <td width="103" rowspan="6"><p align="center">HTML5入门 </p></td>
				      <td width="277"><p align="left">1、项目的创建方法，EditPlus/Sublime等常用开发工具的使用技巧，工具的偏好设置及修改。 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">2、HTML5的标准结构、语义及作用。不同浏览器的代码查看方法及调试方法。 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">3、HTML代码书写规范，SEO介绍，HTML5常用标签（包括新增结构化标签及视频音频等标签），标签语义化及标签的默认属性特点，常用用法及效果，对SE的权重 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">4、CSS（层叠样式列表）的引入方式，选择器与优先级（包括CSS3选择器），CSS字体（含本地地体），布局设置，盒模型 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">5、相对路径与绝对路径、CSS字体设置，表格设置，列表设置，流布局，盒模型 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">6、阴影、渐变、投影、圆角等常用CSS3属性 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="103" rowspan="8"><p align="center">HTML5桌面平台兼容/跨平台布局开发 </p></td>
				      <td width="277"><p align="left">1、服务器的搭建与测试（WAMP，XAMPP、LAMP） </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">2、WebAPP开发技巧，WebAPP的新增meta属性，各平台实用私有属性 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">3、BSU网站加速技术之图片处理技巧，框架、嵌套合理化 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">4、背景图合并技术（类CSS Sprite） </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">5、浏览器兼容问题及解决方案 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">6、代码优化技巧 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">7、面试题总结分析，行业需求技术分析 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">8、响应式布局开发技巧，单页面效果练习。SEO（搜索引擎优化）黑帽、白帽知识。关键词、内外联、PR值、百度推广（淡化） </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="103" rowspan="3"><p align="center">变形、过渡与动画（3D） </p></td>
				      <td width="277"><p align="left">1、CSS3-transform。3D空间坐标系的布局思想 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">2、CSS3-transition。实现CSS属性的渐变动画，通过hover等触发 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">3、CSS3-animaition。实现3D动画 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="103"><p align="center">响应式布局/WebAPP<br />
				        项目 </p></td>
				      <td width="277"><p align="left">响应式模型模板项目开发，兼容桌面平台各浏览器，并在移动设备上做到APP的展示效果，掌握SVN（版本控制），FlashFXP（FTP上传）工具的使用。项目主要信息发布类，游戏类，门户网站类，社区论坛等。项目结束时进行项目答辩 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="56"><p align="left">&nbsp;</p></td>
				      <td width="103"><p align="center">经典 <br />
				        项目 </p></td>
				      <td width="277"><p align="left">响应式企业网站开发 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="56" rowspan="25"><p align="center">HTML5高级 </p></td>
				      <td width="103" rowspan="2"><p align="center">原生JavaScript理论基础 </p></td>
				      <td width="277"><p align="left">1、JS历史，JS引入方式，数据类型，变量，运算符 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">2、赋值运算，表达式，分支语句与循环语句，函数 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="103" rowspan="6"><p align="center">原生JavaScript效果实战 </p></td>
				      <td width="277"><p align="left">1、常见动画效果开发，作用域，计时器，TAB切换，大图滚动，碰壁反弹，运动效果... </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">2、字符串&amp;数组常用操作方法 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">3、面向对象的编程，this关键字的用法 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">4、DOM、BOM及相关效果开发，图片懒加载 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">5、JS常用内置函数：Math对象，Date对象理论与实战 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">6、贪食蛇、坦克大战等网页游戏 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="103" rowspan="5"><p align="center">jQuery</p></td>
				      <td width="277"><p align="left">1、jQuery 入门 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">2、jQuery<a name="_GoBack" id="_GoBack"></a>事件 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">3、jQuery的DOM操作 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">4、jQuery常见动画效果开发 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">5、jQuery-AJAX </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="103" rowspan="8"><p align="center">AJAX</p></td>
				      <td width="277"><p align="left">1、原生AJAX。AJAX原理，如何与后台人员配合 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">2、XHR对象，浏览器兼容解决方案。 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">3、常用交互数据格式：JSON与XML，JSON格式读取与转换 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">4、AJAX实例：表单验证、无刷新注册、分页加载新闻 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">5、AJAX跨域解决方案。JSONP的应用：百度搜索提示框，跨域问题 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">6、AJAX实例：瀑布流 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">7、AJAX实例；按需加载 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">8、正则表达式进行数据验证 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="103" rowspan="5"><p align="center">跨平台开发技术 </p></td>
				      <td width="277"><p align="left">1、PhoneGap 安装，建项目 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">2、PhoneGap调用硬件设备 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">3、PhoneGap封装打包 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">PhoneGap+jQuery Mobile（手机论坛APP） </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="56" rowspan="14"><p align="left">&nbsp;</p></td>
				      <td width="277"><p align="left">Sencha Touch 手机导购APP </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="103" rowspan="6"><p align="center">web app开发技术 </p></td>
				      <td width="277"><p align="left">1、zepto库 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">2、GMU ，iscroll库 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">3、sencha touch、jQuery Mobile （接口简介） </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">4、web app渲染加速技术：css3高级应用、JS性能优化、动画加速、硬件加速等 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">5、原生的touch与手势 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">6、调用硬件：摄像头、重力感应、电话短信等（重要） </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="103" rowspan="6"><p align="center">图像处理开发技术 </p></td>
				      <td width="277"><p align="left">1、CAVANS API详解与实例 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">2、CANVAS的像素级操作 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">3、使用CANVAS制作音视频特效 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">4、2D游戏、动画绘图原理 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">5、WEBGL/CreateJS扩展 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="277"><p align="left">跨平台WEBAPP、HTML5跨平台的企业应用（如美食美酒）、杂志报刊（如创业邦、经济观察报）、游戏（如光辉战绩/修仙三国）等移动应用，桌面平台的HTML5 WEB开发、HTML5应用开发。 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="103"><p>响应式网站、跨平台APP、WEB    APP项目开发 </p></td>
				      <td width="277"><p align="left">跨平台WEBAPP、HTML5跨平台的企业应用（如美食美酒）、杂志报刊（如创业邦、经济观察报）、游戏（如光辉战绩/修仙三国）等移动应用，桌面平台的HTML5 WEB开发、HTML5应用开发。 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
				    <tr>
				      <td width="56"><p align="left">面试技巧与就业辅导 </p></td>
				      <td width="103"><p>&nbsp;</p></td>
				      <td width="277"><p align="left">面试技巧与面试题就业辅导 </p></td>
				      <td width="277" valign="top"><p align="left">&nbsp;</p></td>
			        </tr>
			      </table>
				</div>
				</div>
				<div style="clear:both;"></div>
</div>
<div style="clear:both;"></div>

