
<div class='BODY'>
    <div class='BODY_LEFT'>
        <div class='BODY_LEFT_TITLE'>培训课程</div>

        <div class='BODY_LEFT_CONTENT'>
            <!--************************************** NET **************************************-->
            <div class='BODY_LEFT_TOOLS'>
                <div class='BODY_LEFT_TOOLS_COLOR1'></div>
                <div class='BODY_LEFT_TOOLS_TEXT'><a href='/course/php'>PHP培训</a></div>
            </div>
            <!-- **************************************JAVA************************************** -->
            <div class='BODY_LEFT_TOOLS'>
                <div class='BODY_LEFT_TOOLS_COLOR2'></div>
                <div class='BODY_LEFT_TOOLS_TEXT'><a href='/course/java'>JAVA培训</a></div>
            </div>
            <!-- **************************************移动开发************************************** -->
            <div class='BODY_LEFT_TOOLS'>
                <div class='BODY_LEFT_TOOLS_COLOR4'></div>
                <div class='BODY_LEFT_TOOLS_TEXT'><a href='/course/android'>Android培训</a></div>
            </div>
            <!-- ruby on rails -->
            <div class='BODY_LEFT_TOOLS'>
                <div class='BODY_LEFT_TOOLS_COLOR7'></div>
                <div class='BODY_LEFT_TOOLS_TEXT'><a href='/course/ruby'>Ruby培训</a></div>
            </div>
            <!-- **************************************交互设计************************************** -->
            <div class='BODY_LEFT_TOOLS'>
                <div class='BODY_LEFT_TOOLS_COLOR5'></div>
                <div class='BODY_LEFT_TOOLS_TEXT'><a href='/course/ui'>UI培训</a></div>
            </div>
            <!-- **************************************物联网************************************** -->
            <div class='BODY_LEFT_TOOLS'>
                <div class='BODY_LEFT_TOOLS_COLOR6'></div>
                <div class='BODY_LEFT_TOOLS_TEXT'><a href='/course/html5'>HTML5培训</a></div>
            </div>
            <div class='BODY_LEFT_CSDN_INFO'></div>

        </div>


    </div>
				<div class='BODY_RIGHT'>
				<div class='BODY_RIGHT_TITLE'>
				<div class='BODY_RIGHT_TITLE_CONTENT1'>Ruby培训</div>
				<div class='BODY_RIGHT_TITLE_CONTENT2'>当前位置&nbsp;>&nbsp;首页&nbsp;>&nbsp;培训课程&nbsp;>&nbsp;Ruby培训</div>
				</div>

				<div class='BODY_RIGHT_CONTENT'>
				  <table cellspacing="0" cellpadding="0" class="job_table">
				    <col width="132" />
				    <col width="372" />
				    <col width="841" />
				    <col width="774" />
				    <tr>
				      <th width="132">阶段</th>
				      <th width="372">课程名称</th>
				      <th width="841">课程内容</th>
				      <th width="774">课程目标</th>
			        </tr>
				    <tr>
				      <td width="132">第一阶段<br />
				        ruby基础知识<br /></td>
				      <td>ruby基础知识</td>
				      <td>ruby和rails简介；初步接触（ruby语言、rails框架)；Ruby基础语法；Ruby 面向对象；Ruby正则表达式</td>
				      <td>掌握和学习完整的Ruby的知识。</td>
			        </tr>
				    <tr>
				      <td rowspan="3" width="132">第二阶段<br />
				        WEB前端技术<br /></td>
				      <td>HTML/CSS</td>
				      <td>HTML基本文档结构、掌握CSS基础语法、关于HTML文档块、链接、列表、表格、表单等</td>
				      <td>掌握HTML基本原理；掌握CSS各种选择器及常见样式设置；熟练使用HTML常用元素。</td>
			        </tr>
				    <tr>
				      <td>JavaScript核心</td>
				      <td width="841">JavaScript语言基础（数据类型、函数、对象、闭包）、Java    DOM编程、事件模型、JavaScript面向对象编程<br /></td>
				      <td width="774">深入理解JavaScript语言原理；熟练的使用JavaScript对HTML　DOM进行编程；<br />
				        熟练掌握JavaScript对象对象封装技巧，为后续的JavaScript学习打下坚实的基础。<br /></td>
			        </tr>
				    <tr>
				      <td>JavaScript框架</td>
				      <td>JQuery、JQuery插件、ExtJS </td>
				      <td>掌握JQuery核心API；了解JQuery基本设计原则；了解多种JQuery插件；掌握DWR的基本原理及应用技巧。</td>
			        </tr>
				    <tr>
				      <td width="132">第三阶段<br />
				        Linux 操作系统<br /></td>
				      <td>虚拟机安装和使用</td>
				      <td width="841">VMware虚拟机安装、ubuntu    安装；远程登录工具的使用Putty、Winscp；文件处理命令、开关机命令；<br />
				        权限管理命令、帮助命令、文件搜索命令；压缩解压命令、命令使用技巧；文本编辑器Vim；软件包管理；<br />
				        用户和用户组管理；权限管理；文件系统管理；服务与进程管理；基本网络管理、网络文件共享；SSH、FTP和Samba    服务器的搭建；Nginx服务器搭建与使用</td>
				      <td>掌握和学习开发中基本的linux命令，能够用linux进行开发。</td>
			        </tr>
				    <tr>
				      <td rowspan="5" width="132">第四阶段<br />
				        Ruby on rails框架核心技术<br /></td>
				      <td>环境设定与bundler</td>
				      <td>学习Rails的一些設定、Bundler，以及Command Line指令的用法</td>
				      <td width="774">如何安装 Rails，新建 Rails    程序，如何连接数据库；Rails 程序的基本文件结构；MVC（模型，视图，控制器）和 REST 架构的基本原理；如何快速生成 Rails 程序骨架。</td>
			        </tr>
				    <tr>
				      <td>MVC模型之视图（view）</td>
				      <td>Action View 基础、 Rails 布局和视图渲染、 Action View 表单帮助方法</td>
				      <td>掌握使用 ction View 辅助方法， Action Controller 与 Action View 基本的版型功能，包含了渲染、重定向。</td>
			        </tr>
				    <tr>
				      <td>MVC模式之控制器（Controller）</td>
				      <td width="841">控制器的作用、控制器命名约定、方法和动作、参数、会话、Cookies、过滤器、数据流和文件下载、Rails    路由全解</td>
				      <td width="774">掌握使用请求如何进入控制器；如何限制传入控制器的参数；为什么以及如何把数据存储在会话或    cookie 中；<br />
				        处理请求时，如何使用过滤器执行代码；如何使用 Action Controller 內建的 HTTP 身份认证功能；如何使用路由帮助方法自动创建路径和    URL以及使用推荐的资源式，或使用 match 方法编写路由。</td>
			        </tr>
				    <tr>
				      <td>MVC模式之模型（model）</td>
				      <td width="841">Active Record 基础、Active Record    数据库迁移、Active Record 数据验证、<br />
				        Active Record 回调、Active Record 关联、Active Record 查询</td>
				      <td width="774">掌握使用Models、数据库持久性以及 Active    Record 模式，有条有理地使用 Active Record 来修改数据库和数据<br />
				        库查询功能，能够使用Active Record 验证功能和回调功能。</td>
			        </tr>
				    <tr>
				      <td>Asset Pipeline</td>
				      <td width="841">Asset Pipeline 是什么及主要功能；如何使用    Asset Pipeline；开发环境及生产环境使用Asset Pipeline；定制 Asset Pipeline</td>
				      <td width="774">掌握Asset Pipeline    是什么以及其作用；如何合理组织程序的静态资源；Asset Pipeline 的优势；<br />
				        如何向 Asset Pipeline 中添加预处理器；如何在 gem 中打包静态资源。</td>
			        </tr>
			      </table>
				</div>
				</div>
</div>
<div style="clear:both;"></div>

