
<div class='BODY'>
    <div class='BODY_LEFT'>
        <div class='BODY_LEFT_TITLE'>培训课程</div>

        <div class='BODY_LEFT_CONTENT'>
            <!--************************************** NET **************************************-->
            <div class='BODY_LEFT_TOOLS'>
                <div class='BODY_LEFT_TOOLS_COLOR1'></div>
                <div class='BODY_LEFT_TOOLS_TEXT'><a href='/course/php'>PHP培训</a></div>
            </div>
            <!-- **************************************JAVA************************************** -->
            <div class='BODY_LEFT_TOOLS'>
                <div class='BODY_LEFT_TOOLS_COLOR2'></div>
                <div class='BODY_LEFT_TOOLS_TEXT'><a href='/course/java'>JAVA培训</a></div>
            </div>
            <!-- **************************************移动开发************************************** -->
            <div class='BODY_LEFT_TOOLS'>
                <div class='BODY_LEFT_TOOLS_COLOR4'></div>
                <div class='BODY_LEFT_TOOLS_TEXT'><a href='/course/android'>Android培训</a></div>
            </div>
            <!-- ruby on rails -->
            <div class='BODY_LEFT_TOOLS'>
                <div class='BODY_LEFT_TOOLS_COLOR7'></div>
                <div class='BODY_LEFT_TOOLS_TEXT'><a href='/course/ruby'>Ruby培训</a></div>
            </div>
            <!-- **************************************交互设计************************************** -->
            <div class='BODY_LEFT_TOOLS'>
                <div class='BODY_LEFT_TOOLS_COLOR5'></div>
                <div class='BODY_LEFT_TOOLS_TEXT'><a href='/course/ui'>UI培训</a></div>
            </div>
            <!-- **************************************物联网************************************** -->
            <div class='BODY_LEFT_TOOLS'>
                <div class='BODY_LEFT_TOOLS_COLOR6'></div>
                <div class='BODY_LEFT_TOOLS_TEXT'><a href='/course/html5'>HTML5培训</a></div>
            </div>
            <div class='BODY_LEFT_CSDN_INFO'></div>

        </div>


    </div>
				<div class='BODY_RIGHT'>
				<div class='BODY_RIGHT_TITLE'>
				<div class='BODY_RIGHT_TITLE_CONTENT1'>软件开发</div>
				<div class='BODY_RIGHT_TITLE_CONTENT2'>当前位置&nbsp;>&nbsp;首页&nbsp;>&nbsp;培训课程&nbsp;>&nbsp;软件开发</div>
				</div>

				<div class='BODY_RIGHT_CONTENT'>
				<img src="../images/soft.png" style="width:700px; height:auto;margin:25px auto;"/>
				</div>
				</div>
				<div style="clear:both;"></div>
</div>
<div style="clear:both;"></div>

