<!-------------联系我们------------------>
<div class="contact">
  <div class="FOOTER_INFO1">
    <div class="FOOTER_ABOUT1">
      <ul>
        <li><h3><b>官方微信</b></h3></li>
        <li>扫一扫有惊喜</li>
        <li><img src="/images/weixin.png" style="width:40%;"/></li>
      </ul>
    </div>
    <div class="FOOTER_ABOUT2">
      <ul>
        <li><h3><b>联系我们</b></h3></li>
        <li>地址：河北省保定市南市区三丰中路长江商务中心三楼982号</li>
        <li style="position:relative">电话：
          <div style="padding-left:40px;position:absolute;top:0px">
            <p>151-3225-2225（于老师）</p>
            <p>159-3076-1109（王老师）</p>
          </div>
        </li>

      </ul>
    </div>
    <div class="FOOTER_ABOUT3">
      <ul>
        <li style="margin-left:-20px;"><h3><b>友情链接</b></h3></li>
        <li><a href="http://www.hebeea.edu.cn/">河北省教育考试网站</a></li>
        <li><a href="http://www.hebau.edu.cn/">河北农业大学</a></li>
        <li><a href="http://www.hbu.edu.cn/">河北大学</a></li>
        <li><a href="http://www.csdn.net/">CSDN企业官网</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <p>
      <a href="/">首页</a> |
      <a href="/course/major">实训方向</a> |
      <a href="/main/train_model">培养模式</a> |
      <a href="/main/employ_job">招生就业</a> |
      <a href="/main/student_products">学员作品</a> |
    </p>
    <p>
      <strong>Copyright &copy;
        <script type="text/javascript">var myDate = new Date();var year = myDate.getFullYear();document.write(year)
        </script>
        XinXingtao. All Rights Reserved.
      </strong>
    </p>
  </div>
</div>