
<!--此处开始兼容IE7,8代码的透明度开始-->
<!--[if IE]>
<style type="text/css">
    .MENUWRAP,.MEUN li:hover {
        background:transparent;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4BFFFFFF,endColorstr=#4BFFFFFFs);
        zoom: 1;
    }
</style>
<![endif]-->
<!--此处开始兼容IE7,8代码的透明度结束-->

<!-- 悬浮代码 开始 -->
<div class="weixin">
  <div class="xixi">
    <a href=tencent://message/?uin=913857892&Site=灯塔教育网&Menu=yes><img border="0" SRC=http://wpa.qq.com/pa?p=1:913857892:10 alt="在线咨询！"></a><br />
    <a style="margin:10px 0;display:inline-block" href=tencent://message/?uin=877216091&Site=灯塔教育网&Menu=yes><img border="0" SRC=http://wpa.qq.com/pa?p=1:877216091:10 alt="在线咨询！"></a>
    <br />
    <a href=tencent://message/?uin=754123093&Site=灯塔教育网&Menu=yes><img border="0" SRC=http://wpa.qq.com/pa?p=1:754123093:10 alt="在线咨询！"></a>
  </div>
</div>
<!-- 代码 结束 -->

<div class="header" id="header">
  <div class="container head">
    <div class="logo_box">
      <div class="logo">
        <a href="/">
          <img src="/images/logo.png" alt="Wondershare Official" />
        </a>
      </div>
    </div>
    <div class="clear"></div>
    <div class="navSearch hidden">
      <ul class="nav">
        <li><a href="/" class="title">首页</a></li>
        <li>
          <a href="/course/major" class="title">培训课程 </a>
          <ul class="child" style="display:none">
            <!--<li><a href="software/major_software.html" class="title">软件研发</a></li>-->
            <!--<li><a href="#" class="title">高端英语</a></li>-->
            <li><a href="/course/php" class="title">PHP培训</a></li>
            <li><a href="/course/java" class="title">JAVA培训</a></li>
            <li><a href="/course/android" class="title">Android培训</a></li>
            <li><a href="/course/html5" class="title">HTML5培训</a></li>
            <li><a href="/course/ui" class="title">UI培训</a></li>
            <li><a href="/course/ruby" class="title">Ruby培训</a></li>
          </ul>
        </li>
        <li>
          <a href="/main/train_model" class="title">培养模式</a>

        </li>
        <li>
          <a href="/main/employ_job" class="title">招生就业</a>
          <ul class="child" style="display:none">
            <li><a href="/main/employ" class="title">招生咨询</a></li>
            <li><a href="/main/job" class="title">就业案例</a></li>
          </ul>
        </li>
        <li>
          <a href="/main/student_products" class="title">学员作品</a>
        </li>
        <li>
          <a href="/main/study_online" class="title">在线学习</a>
        </li>
        <!--<li>-->
        <!--<a href="about.html" class="title">关于我们</a>-->
        <!--</li>-->
        <li style="border-right:1px solid #eee;">
          <a href="/main/contact_us" class="title">联系我们</a>
        </li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>